<%include file="HEADER.tmpl"/>
<div class="alert alert-danger">
<h4>${message}</h4>
<br><br>
Volte e tente novamente. Se você acredita que isso seja um bug, entre em contato pela lista de suporte em <a href=mailto:support@spiderfoot.net>support@spiderfoot.net</a>.
</div>
<%include file="FOOTER.tmpl"/>
